<ion-header class="ion-no-border" mode="ios">
    <ion-toolbar class="ion-padding">
        <ion-title>
            <div class="domaine">
                <h1>
                    <span>P</span>
                    <span>r</span>
                    <span>e</span>
                    <span>m</span>
                    <span>i</span>
                    <span>u</span>
                    <span>m</span>
                </h1>
            </div>
        </ion-title>
    </ion-toolbar>
</ion-header>


<ion-content>
    <div class="tabs ion-padding">
        <ion-segment value="chats" (ionChange)="segmentChange($event)">
            <ion-segment-button value="Bills">
                <ion-label>Bills</ion-label>
            </ion-segment-button>
            <ion-segment-button value="Coming soon">
                <ion-label>Coming soon</ion-label>
            </ion-segment-button>
            <ion-segment-button value="Contact Us">
                <ion-label>Contact Us</ion-label>
            </ion-segment-button>
        </ion-segment>
    </div>

    <div class="chat-list" *ngIf="activeTab === 'Bills'">
        <div class="recent-chats">
            <div class="img-box">
                <img src="https://res.cloudinary.com/ulrich-nelson/image/upload/v1620601979/samples/LogoApplication_owo84t.png">
            </div>
            <div class="billsCss">
                <table class="table table-bordered">
                    <thead class="thead-dark">
                        <tr style="text-align:center">
                            <th scope="col">Source</th>
                            <th scope="col">HT (€)</th>
                            <th scope="col">TTC (€)</th>
                            <th scope="col">Date</th>
                        </tr>
                    </thead>
                    <tbody style="text-align:center">
                        <tr *ngFor="let bill of bills; let i = index">
                            <td>{{bill.source}}</td>
                            <td>{{bill.montantHT}}</td>
                            <td>{{bill.montantTTC}}</td>
                            <td>{{bill.datePayment | date:"MM/dd/yyyy"}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>

    <div class="chat-list" *ngIf="activeTab === 'Coming soon'">
        <div class="recent-chats">
            <div class="sub-text">
                <p class="title">the future features that will be brought.</p>
            </div>
            <div class="diaporama">
                <div class="diapo">
                    <img src="../../../assets/images/diapo1.jpg" width="350" height="200">
                    <img src="../../../assets/images/diapo2.jpg" width="350" height="200">
                    <img src="../../../assets/images/diapo3.jpg" width="350" height="200">
                    <img src="../../../assets/images/diapo4.jpg" width="350" height="200">
                    <img src="../../../assets/images/diapo5.jpg" width="350" height="200">
                    <img src="../../../assets/images/diapo6.jpg" width="350" height="200">
                    <img src="../../../assets/images/diapo7.jpg" width="350" height="200">
                    <img src="../../../assets/images/diapo8.jpg" width="350" height="200">
                    <img src="../../../assets/images/diopa9.jpg" width="350" height="200">
                    <img src="../../../assets/images/diopo10.jpg" width="350" height="200">
                </div>
            </div>
        </div>
        <div class="avantage">
            <p>Very soon you will have:</p>
            <ul>
                <li>A messaging system between users of the application.</li>
                <li> The ability to share your favorite music with other users</li>
            </ul>
        </div>
    </div>
    <div class="chat-list" *ngIf="activeTab === 'Contact Us'">
        <div class="recent-chats ion-padding">
            <div class="container-sendMail">
                <div class="information">
                    Being first, you have the possibility to leave us a message or proposals to bring you more content.
                </div>
                <form (ngSubmit)="onSubmit(monFormulaire)" #monFormulaire="ngForm">
                    <div class="formfield form-group">
                        <input type="email" id="email" name="email" placeholder="Email" class="form-control" ngModel>
                        <!-- <label for="email" placeholder="Email">Email</label> -->
                    </div>
                    <div class="formfield form-group">
                        <input type="text" id="object" name="object" placeholder="Message subject" class="form-control" ngModel>
                        <!-- <label placeholder="Message subject">Object</label> -->
                    </div>
                    <div class="formfield form-group">
                        <input type="textarea" id="message" name="message" placeholder="Message ..." class="form-control" ngModel>
                        <!-- <label for="message" placeholder="Message ...">Message</label> -->
                    </div>
                    <div class="login-button">
                        <ion-button class="login" type="submit">Send message</ion-button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</ion-content>