<ion-content fullscreen>
    <div class="header">
        <h2>{{firstname}} {{lastname}}</h2>

        <div class="space-between">
            <div class="followings">
                <ion-badge color="primary" mode="ios">42</ion-badge>
                <p>Favoris</p>
            </div>
            <ion-button class="Button" type="submit" shape="round" style="font-size: 15px;" size="small" (click)="openModal()">
                Buills
            </ion-button>
            <div class="followings">
                <ion-badge color="primary" mode="ios">102</ion-badge>
                <p>Abonnements</p>
            </div>
        </div>
    </div>
    <div class="flex">
        <div class="border-blue">
            <div class="border-white">
                <div class="img-box">
                    <img src="{{avatar}}">
                </div>
            </div>
        </div>
    </div>
    <!--FIN HEADER-->
    <div class="padding">
        <ion-card>
            <form id="container" [formGroup]="editProfilForm" (ngSubmit)="editProfilAction()">
                <ion-list>
                    <ion-item lines="none">
                        <ion-input color="light" type="text" required class="form-control" [(ngModel)]="firstname" id="firstname" formControlName="firstname"></ion-input>
                    </ion-item>
                    <ion-item lines="none">
                        <ion-input color="light" type="text" required class="form-control" [(ngModel)]="lastname" id="lastname" formControlName="lastname"></ion-input>
                    </ion-item>
                    <ion-item lines="none">
                        <ion-input color="light" type="email" required class="form-control" [(ngModel)]="email" id="email" formControlName="email"></ion-input>
                    </ion-item>
                    <ion-item lines="none">
                        <ion-input color="light" type="date" required class="form-control" [(ngModel)]="dateOfBirth" id="dateOfBirth" formControlName="dateOfBirth"></ion-input>
                    </ion-item>
                </ion-list>
                <ion-row class="validate">
                    <ion-col size="3">
                        <ion-button size="small" class="Cancel" type="button" (click)="reset()" color="light">
                            Cancel
                        </ion-button>
                    </ion-col>
                    <!-- <ion-col size="1">
                    </ion-col> -->
                    <ion-col size="3">
                        <ion-button size="small" color="success" type="submit">
                            validate
                        </ion-button>
                    </ion-col>
                </ion-row>
            </form>
        </ion-card>
    </div>
</ion-content>