ion-content {
    --ion-background-color: var(--ion-color-dark);
}


/*******************HEADER DE L'APPLICATION*******************************/

.header {
    background-color: #035b8a;
    height: 180px;
    padding-top: 1px;
}

.header h2 {
    color: white;
    font-weight: bold;
    text-align: center;
}

.space-between {
    display: flex;
    justify-content: space-between;
    padding: 12px 20px 0px 20px;
}

.followings {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.followings p {
    color: white;
    margin: 8px 0px 0px 0px;
}

.followings p {
    color: white;
    margin: 8px 0px 0px 0px;
}

.img-box {
    height: 130px;
    width: 130px;
    border-radius: 50%;
    overflow: hidden;
}

.border-white {
    border: 4px solid white;
    border-radius: 50%;
    width: fit-content;
}

.border-blue {
    border: 7px solid #035b8a;
    border-radius: 50%;
    width: fit-content;
}

.flex {
    display: flex;
    justify-content: center;
    margin-top: -76px;
}


/*******************FORMULAIRE DE MISE A JOUR DU PROFIL*******************************/

ion-card {
    box-shadow: 5px 5px .1rem .1rem white;
}

.padding {
    padding: 2%!important;
}

.logo img {
    font-size: 2em;
    position: absolute;
    border-radius: 50%;
    border: 2px solid white;
    top: 20%;
    height: 120px;
    left: 20%;
    transform: translate(-50%, -50%);
}

.name p {
    color: white;
    margin-top: 100px;
    margin-left: 145px;
}

#container {
    margin-top: 20px;
    padding-left: 7px;
    padding-right: 7px;
}

.button {
    color: white;
    margin-top: 10px;
    margin-left: 70px;
}

.Button {
    padding: 0;
    font-size: 10px;
}

ion-item {
    border-radius: 10px;
    border-color: rgb(201, 201, 201);
    border-width: 1px;
    border-style: solid;
    background-color: white;
    height: 40px;
    margin-top: 10px;
    font-size: 12px;
    ion-input {
        font-size: 15px;
        padding-top: 10px;
    }
}

ion-button {
    text-transform: initial;
}

ion-row.validate {
    padding-left: 120px;
    .Cancel {
        margin-left: 1px;
    }
}

.privacy {
    text-decoration: none;
    font-size: 10px;
    color: blue;
    text-align: center;
    padding-top: 12px;
    margin-left: 35px;
}


/*****************TRAITEMENT POUR LE BOUTON DE CONFIRMATION DE DECONNEXION************************ */

.alert-wrapper {
    background: #e5e5e5;
}

.my-custom-class .alert-wrapper {
    background: #e5e5e5;
}


/*  ****************  TRAITEMENT POUR LE BOUTON POUR AFFICHER LES FACTURES, DECONNEXION .....************************ */

ion-fab {
    margin-top: 15px;
    margin-left: 15px;
}