<ion-content>
    <div class="padding">
        <div class="logo">
            <!-- <img src="/assets/icon/profil.jpg"> -->
            <img src="{{avatar}}">
        </div>
        <div class="name">
            <p>{{firstname}} {{lastname}}</p>
        </div>
        <ion-button class="Button" type="submit" shape="round" style="font-size: 15px;" size="small" (click)="getBillsAction()">
            Buills
        </ion-button>
        <div class="button">
            <ion-row>
                <ion-col size="2">
                    <ion-button class="Button" type="submit" shape="round" style="font-size: 15px;" size="small" (click)="getBillsAction()">
                        Buills
                    </ion-button>
                </ion-col>
                <ion-col size="2">
                </ion-col>
                <ion-col size="2">
                    <ion-button class="Button" shape="round" style="font-size: 15px;" color="danger" size="small" (click)="confirmLogout()">
                        Logout
                    </ion-button>
                </ion-col>
            </ion-row>
        </div>
        <ion-card>
            <form id="container" [formGroup]="editProfilForm" (ngSubmit)="editProfilAction()">
                <ion-list>
                    <ion-item lines="none">
                        <ion-input color="light" type="text" class="form-control" [(ngModel)]="firstname" id="firstname" formControlName="firstname"></ion-input>
                    </ion-item>
                    <ion-item lines="none">
                        <ion-input color="light" type="text" class="form-control" [(ngModel)]="lastname" id="lastname" formControlName="lastname"></ion-input>
                    </ion-item>
                    <ion-item lines="none">
                        <ion-input color="light" type="email" class="form-control" [(ngModel)]="email" id="email" formControlName="email"></ion-input>
                    </ion-item>
                    <ion-item lines="none">
                        <ion-input color="light" type="date" class="form-control" [(ngModel)]="dateOfBirth" id="dateOfBirth" formControlName="dateOfBirth"></ion-input>
                    </ion-item>
                </ion-list>
                <ion-row class="validate">
                    <ion-col size="2">
                        <ion-button size="small" class="Cancel" type="button" color="light" routerLink="/tabs/favorite">
                            Cancel
                        </ion-button>
                    </ion-col>
                    <!-- <ion-col size="2">
                    </ion-col> -->
                    <ion-col size="2">
                        <ion-button size="small" color="success" type="submit">
                            validate
                        </ion-button>
                    </ion-col>
                </ion-row>
            </form>
        </ion-card>
    </div>
</ion-content>