<ion-content>
    <div class="header ion-padding">
        <div class="info">
            <ion-buttons slot="start">
                <ion-icon routerLink="/subscribe" name="menu-outline"></ion-icon>
                <ion-menu-button style="color: #ffff" menu="main-menu"></ion-menu-button>
            </ion-buttons>
            <ion-avatar>
                <!-- <img src="https://i.pravatar.cc/253" alt="Mon profil"> -->
                <img src="{{avatar}}" width="199.5" height="120">
            </ion-avatar>
            <span class="details">
                <h1>{{firstname}}</h1>
                <p>Premim</p>
            </span>
        </div>
        <div class="calling">
            <ion-icon name="videocam-outline"></ion-icon>
            <ion-icon name="call-outline"></ion-icon>
        </div>
    </div>
    <div class="container-profil ion-padding">
        <div class="section-profil" id="chat">
            <div class="Myprofil">
                <h1>My profile</h1>
                <p>At any time you can update your profile</p>
            </div>

            <ion-card>
                <form [formGroup]="editProfilForm" (ngSubmit)="editProfilAction()">
                    <div class="update-Profil">

                        <div class="formfield">
                            <input type="text" required [(ngModel)]="firstname" id="firstname" formControlName="firstname">
                            <label for="firstname" placeholder="First name">First name</label>
                        </div>
                        <div class="formfield">
                            <input type="text" required [(ngModel)]="lastname" id="lastname" formControlName="lastname">
                            <label for="lastname" placeholder="Last name">Last name</label>
                        </div>
                        <div class="formfield">
                            <input type="email" required [(ngModel)]="email" id="email" formControlName="email">
                            <label for="email" placeholder="email">Email</label>
                        </div>
                        <div class="formfield">
                            <input type="date" required [(ngModel)]="dateOfBirth" id="dateOfBirth" formControlName="dateOfBirth">
                            <label for="dateOfBirth" placeholder="Date of birth">Date of birth</label>
                        </div>
                    </div>
                    <div class="update-button">
                        <ion-button class="cancel" type="button" (click)="reset()">Cancel</ion-button>
                        <ion-button class="confirm" type="submit">confirm</ion-button>
                    </div>
                </form>
            </ion-card>
        </div>
    </div>

</ion-content>