<ion-header class="ion-no-border" mode="ios">
    <ion-toolbar class="ion-padding">
        <ion-title>Subscription</ion-title>
            <ion-icon name="book" (click)="openModalStripe()"></ion-icon>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="container-subscribe">
        <ion-button class="logoutButton" color="danger" shape="round" size="small" (click)="confirmLogout()">
            <ion-icon name="power-outline"></ion-icon>
            Log out
        </ion-button>
        <!-- <h3>Subscribe💳</h3>
    <h5>this subscription will allow you</h5>
    <ol>
        <li>Listen to music without ads</li>
        <li> Enjoy the music chosen just for you</li>
        <li> Add music to your favorites</li>
    </ol> -->

        <p routerLink="/login">get premium from <span>4€/mois</span></p>
        <ion-card class="welcome-card">
            <ion-img src="../../../assets/images/stripe.png"></ion-img>
            <ion-card-content>
                <form id="container" [formGroup]="addCardForm" (ngSubmit)="subscriptionAction()">
                    <ion-list>
                        <ion-label position="stacked" color="white">Card Number</ion-label>
                        <ion-item lines="none">
                            <ion-input color="black" type="text" id="cartNumber" formControlName="cartNumber" placeholder="1179 9088 5241 7041"></ion-input>
                        </ion-item>
                        <ion-row>
                            <ion-col class="flex" size="5">
                                <ion-label position="stacked" color="white">Exp Month</ion-label>
                                <ion-item lines="none">
                                    <ion-input color="black" type="text" id="month" formControlName="month" placeholder="04"></ion-input>
                                </ion-item>
                            </ion-col>
                            <ion-col size="2">
                            </ion-col>
                            <ion-col size="5">
                                <ion-label position="stacked" color="white">Exp Date</ion-label>
                                <ion-item lines="none">
                                    <ion-input color="black" type="text" id="expirationDate" formControlName="expirationDate" placeholder="28"></ion-input>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                        <ion-label position="stacked" color="white">CVV</ion-label>
                        <ion-item lines="none">
                            <ion-input color="black" type="text" id="CVC" formControlName="CVC" placeholder="123"></ion-input>
                        </ion-item>
                        <ion-label position="stacked" color="white">Card Name</ion-label>
                        <ion-item lines="none">
                            <ion-input color="black" type="text" id="nameOnCard" formControlName="nameOnCard" placeholder="MELINA THOSE"></ion-input>
                        </ion-item>
                    </ion-list>
                    <div class="other-links">
                    <div class="accept-term">
                        <ion-checkbox id="acceptTerms" formControlName="acceptTerms"></ion-checkbox>
                        <p>&nbsp; &nbsp;I agree with privacy policy</p>
                    </div>
                </div>

                    <div class="subscribeButton">
                        <ion-button class="MakePayment" type="submit">Make Payment</ion-button>
                    </div>
                </form>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>