ion-header {
    ion-toolbar {
        --background: rgb(20, 35, 75);
    }
    ion-title {
        color: white;
        margin-top: 5px;
        font-size: 20px;
    }
}

ion-content {
    --background: rgb(20, 35, 75);
}

p {
    span {
        color: green;
    }
}

.container-subscribe {
    width: 100%;
    max-width: 500px;
    background: #fff;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    .heading {
        background: #fff;
        text-align: center;
        margin-top: 10vh;
    }
    h1 {
        font-size: 1.6rem;
        font-weight: bolder;
    }
    p {
        margin-top: 20px;
        font-size: 1rem;
        color: #7b7b7b;
    }
}

.logoutButton {
    margin-top: 40px;
    margin-left: 250px;
    font-size: 10px;
}

// titre de la page
h3 {
    text-align: center;
    color: white;
    margin-top: 20px;
    padding-top: 5px;
    font-weight: bold;
    font-size: 30px;
}

h5 {
    color: white;
    font-size: 15px;
    text-align: center;
}

ol li {
    color: white;
    font-size: 15px;
    padding-top: 7px;
    padding-left: 10px;
}

p {
    text-align: center;
    color: green;
    padding-top: 5px;
}

.Privacy {
    font-size: 15px;
}

#container {
    margin-top: 10px;
    padding-left: 7px;
    padding-right: 7px;
}

ion-button {
    text-transform: initial;
}

ion-item {
    border-radius: 10px;
    border-color: rgb(201, 201, 201);
    border-width: 1px;
    border-style: solid;
    background-color: white;
    height: 40px;
    margin-top: 10px;
    font-size: 12px;
}

ion-label {
    font-size: 15px;
}

.AddCar {
    padding-left: 35%;
}

ion-card {
    margin-bottom: 50px;
}

.subscribeButton {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
    .MakePayment {
        text-transform: none;
        width: 85%;
        height: 50px;
        font-size: 1.6rem;
    }
}