ion-header {
    ion-toolbar {
        --background: rgb(20, 35, 75);
    }
}

ion-content {
    --background: rgb(20, 35, 75);
    //#7c7899;
}

.container-private {
    width: 100%;
    max-width: 500px;
    background: #fff;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    .heading {
        background: #fff;
        text-align: center;
        margin-top: 10vh;
    }
}