<ion-content>
    <ion-button class="backbutton" fill="clear" color="success" routerLink="/login">
        <ion-icon slot="icon-only" style="font-size: 40px;" name="arrow-back"></ion-icon>
    </ion-button>
    <ion-card>
        <div class="ion-text-center">
            <div class="img-box">
                <img src="https://res.cloudinary.com/ulrich-nelson/image/upload/v1620601979/samples/LogoApplication_owo84t.png">
            </div>
            <h3>Forgot your password?</h3>
            <p>Enter the user's email address at registration and we will send you the instructions.</p>
            <form id="container" [formGroup]="forgotForm" (ngSubmit)="forgotAction()">
                <ion-item lines="none">
                    <ion-input color="light" type="email" id="email" formControlName="email" placeholder="Email"></ion-input>
                </ion-item>
                <ion-button color="success" expand="block" shape="round" type="submit" style="font-size: 20px;" fill="outline">Send me instructions</ion-button>
            </form>
        </div>
    </ion-card>
</ion-content>