<ion-content>
    <div class="image-back">
        <ion-button fill="clear" routerLink="/login">
            <ion-icon style="color: white; margin-top: 20px; font-size:30px" name="arrow-back"></ion-icon>
        </ion-button>
        <!-- <i class="fi-rr-arrow-small-left" routerLink="/login"></i> -->
    </div>
    <div class="forgot-section ion-padding">
        <div class="img-box">
            <img src="https://res.cloudinary.com/ulrich-nelson/image/upload/v1620601979/samples/LogoApplication_owo84t.png">
        </div>
        <div class="heading ion-padding">
            <h1>Forgot your password?</h1>
            <p>Enter the user's email address at registration and we will send you the instructions.</p>
        </div>
        <form [formGroup]="forgotForm" (ngSubmit)="forgotAction()">
            <div class="forgot-form ion-padding">
                <div class="form-input">
                    <ion-icon name="mail-outline"></ion-icon>
                    <ion-item>
                        <ion-label position="floating">EMAIl</ion-label>
                        <ion-input type="email" id="email" formControlName="email"></ion-input>
                    </ion-item>
                </div>
                <div class="action-button ion-padding">
                    <ion-button size="large" class="forgot-button" type="submit">Send me instructions</ion-button>
                </div>
            </div>
        </form>
    </div>

</ion-content>