<ion-header>
    <ion-toolbar>
        <ion-title>Stripe</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <div class="diaporama">
        <div class="diapo">
            <img src="../../../assets/images/diapo1.jpg" width="350" height="200">
            <img src="../../../assets/images/diapo2.jpg" width="350" height="200">
            <img src="../../../assets/images/diapo3.jpg" width="350" height="200">
            <img src="../../../assets/images/diapo4.jpg" width="350" height="200">
            <img src="../../../assets/images/diapo5.jpg" width="350" height="200">
            <img src="../../../assets/images/diapo6.jpg" width="350" height="200">
            <img src="../../../assets/images/diapo7.jpg" width="350" height="200">
            <img src="../../../assets/images/diapo8.jpg" width="350" height="200">
            <img src="../../../assets/images/diopa9.jpg" width="350" height="200">
            <img src="../../../assets/images/diopo10.jpg" width="350" height="200">
        </div>
    </div>

    <div class="premium">

    </div>
    <p>Coucou les amis.</p>
    <ion-button class="logoutButton" color="danger" shape="round" size="small" (click)="closeModalStripe()">
        <ion-icon name="power-outline"></ion-icon>
        close
    </ion-button>
</ion-content>