<ion-header class="ion-no-border" mode="ios">
    <ion-toolbar class="ion-padding">
        <ion-title></ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="container-login ion-padding">
        <div class="heading">
            <h1>Welcome Webradio</h1>
            <p>Please login to continue using our app.</p>
        </div>
        <!-- <div class="image">
            <img src="../../../assets/images/default.PNG" alt="Welcome">
        </div> -->
        <div class="social-login">
            <p>Enter via social network</p>
            <div class="links">
                <ion-button color="google" class="google">
                    <ion-icon name="logo-google"></ion-icon>
                </ion-button>
                <ion-button color="facebook" class="facebook" (click)="facebookLoginAction()">
                    <ion-icon name="logo-facebook"></ion-icon>
                </ion-button>
            </div>
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="loginAction()">
            <div class="email-login">

                <p>Or login with email</p>
                <div class="formfield">
                    <input type="email" id="email" formControlName="email">
                    <label for="email" placeholder="Email">Email</label>
                </div>
                <div class="formfield">
                    <input type="password" id="password" formControlName="password">
                    <label for="password" placeholder="Password">Password</label>
                </div>
                <div class="other-links">
                    <div class="accept-term">
                        <ion-checkbox id="acceptTerms" formControlName="acceptTerms"></ion-checkbox>
                        <p (click)="openModalPrivacy()">&nbsp;accept terms</p>
                    </div>
                    <p class="forgot" routerLink="/tabs/profil">profil</p>
                    <p class="forgot" routerLink="/forgot-password">Forgot password?</p>
                </div>
            </div>
            <div class="login-button">
                <ion-button class="login" type="submit">Log in</ion-button>
                <p>Don't have an account? <span routerLink="/registration">Sign up</span></p>
            </div>
        </form>
    </div>

</ion-content>