ion-title {
    text-align: center;
}

.menu-items {
    margin: 0px;
    margin-top: 20px;
    ion-icon {
        margin-right: 20px;
        color: #86979f;
        font-size: 25px;
    }
    .logout ion-icon {
        color: red;
    }
    .account ion-icon {
        color: red;
    }
    .unsub ion-icon {
        color: red;
    }
    ion-item {
        padding-left: 20px;
        margin-top: 10px;
        font-size: 15px;
        font-weight: bold;
    }
}

// .active {
//     border-left: 5px solid;
//     color: #628cff;
//     padding-left: 15px;
//     ion-icon {
//         color: #628cff;
//     }
// }