<ion-content>
    <ion-card>
        <h3>Registration 🎧 </h3>
        <form id="container" [formGroup]="registerForm" (ngSubmit)="registerAction()">
            <ion-list>
                <ion-item lines="none">
                    <ion-input color="light" type="text" id="firstname" formControlName="firstname" placeholder="First name"></ion-input>
                </ion-item>
                <ion-item lines="none">
                    <ion-input color="light" type="text" id="lastname" formControlName="lastname" placeholder="Last name"></ion-input>
                </ion-item>
                <ion-item lines="none">
                    <ion-input color="light" type="email" id="email" formControlName="email" placeholder="Email"></ion-input>
                </ion-item>
                <ion-item lines="none">
                    <ion-input color="light" type="date" id="dateOfBirth" formControlName="dateOfBirth" placeholder="Date of birth"></ion-input>
                </ion-item>
                <ion-item lines="none">
                    <ion-input color="light" type="password" id="password" formControlName="password" placeholder="Password"></ion-input>
                </ion-item>
                <ion-item lines="none">
                    <ion-input color="light" type="password" id="confPassword" formControlName="confPassword" placeholder=" Confirm password"></ion-input>
                </ion-item>
            </ion-list>
            <ion-button color="light" expand="block" shape="round" type="submit" style="font-size: 20px;" fill="outline">Sign up</ion-button>
        </form>
        <ion-button fill="clear" size="small" class="privacy" style="color: red" (click)="openModalPrivacy()">Terms of Service and Privacy Policy</ion-button>
        <ion-footer class="ion-no-border">
            <ion-toolbar>
                <p>You have an account? <span routerLink="/login"> Sign in</span></p>
            </ion-toolbar>
        </ion-footer>
    </ion-card>
</ion-content>




<!-- afficher ou masquer le RGPD-->
<!--Background overlay-->
<!-- <div class="bg" (click)="close()"></div> -->

<!--Bottom Sheet-->
<!-- <div class="bottomSheet" (touchmove)="touchMove($event)" (touchend)="touchEnd()"> -->

<!--Short Line at tp of the Bottom Sheet-->
<!-- <div class="swipe-handler"></div> -->

<!-- Bottom Sheet Content-->
<!-- <div class="content">
            <h5>Terms of Service and Privacy Policy</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima quos aspernatur molestiae deleniti facilis eum repellat similique, perferendis minus? Ea provident impedit facere earum exercitationem totam repellat. Quo,
                <br><br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis ipsam obcaecati, distinctio eaq
            </p>
            <p class="RDPG">RGPD</p>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis ipsam obcaecati, distinctio eaque iste consectetur ratione dolor unde optio consequatur eum veniam natus itaque molestiae quam. Quasi aperiam
                <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis ipsam obcaecati, distinctio eaque iste consectetur ratione dolor unde optio consequatur eum veniam natus itaque molestiae quam. Quasi aperiam vel unde.
            </p>
        </div>
    </div> -->