<ion-header class="ion-no-border" mode="ios">
    <ion-toolbar class="ion-padding">
        <ion-title></ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="container-login ion-padding">
        <div class="heading">
            <h1>Sign Up &nbsp;🎧</h1>
            <p>Please signup to enter to app.</p>
        </div>
        <form [formGroup]="registerForm" (ngSubmit)="registerAction()">
            <div class="registration">
                <div class="formfield2">
                    <input type="text" id="firstname" formControlName="firstname">
                    <label for="firstname" placeholder="First name">First name</label>
                </div>
                <div class="formfield2">
                    <input type="text" id="lastname" formControlName="lastname">
                    <label for="lastname" placeholder="Last name">Last name</label>
                </div>
                <div class="formfield2">
                    <input type="email" id="email" formControlName="email">
                    <label for="email" placeholder="email">Email</label>
                </div>
                <div class="formfield2">
                    <input type="date" id="dateOfBirth" formControlName="dateOfBirth">
                    <label for="dateOfBirth" placeholder="Date of birth<">Date of birth</label>
                </div>
                <div class="formfield2">
                    <input type="password" id="Password" formControlName="password">
                    <label for="Password" placeholder="Password">Password</label>
                </div>
                <div class="formfield2">
                    <input type="password" id="confPassword" formControlName="confPassword">
                    <label for="confPassword" placeholder="Confirm password">Confirm password</label>
                </div>
                <div class="other-links">
                    <div class="accept-term">
                        <ion-checkbox></ion-checkbox>
                        <p>&nbsp;I agree with privacy policy</p>
                    </div>
                </div>
            </div>
            <div class="singn-button">
                <ion-button class="singn" type="submit">Singn Up</ion-button>
                <p>Don't have an account? <span routerLink="/login">Sign in</span></p>
            </div>
        </form>
    </div>

</ion-content>