/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */


/* Core CSS required for Ionic components to work properly */

@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */

@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    font-family: 'Roboto', sans-serif;
}

//Styliser ma page modale des FACTURES
.my-billsModal-class {
    margin-top: 120px;
    margin-bottom: 120px;
    margin-left: 5px;
    margin-right: 5px;
    position: absolute;
    border-radius: 20px;
    color: white;
}

//Styliser ma page modale des FACTURES
.my-privacyModal-class {
    // margin-top: 20px;
    // margin-bottom: 20px;
    // margin-left: 5px;
    // margin-right: 5px;
    position: absolute;
    // border-radius: 20px;
    color: white;
}

//Styliser ma page modale de la carte bancaire
.my-cardModal-class {
    // margin-top: 20px;
    // margin-bottom: 20px;
    // margin-left: 5px;
    // margin-right: 5px;
    position: absolute;
    // border-radius: 20px;
    color: white;
}

//Styliser ma page modale pour les avantages de devenir premium de l'application
.my-StripeModal-class {
    position: absolute;
    color: white;
}

//Styliser la présentation du Spinner lors du chargement de la page
.ion-loading-class {
    --background: black;
    --width: 300px;
    --height: 150px;
    color: white;
    text-align: center;
    padding-top: 10px;
    font-weight: bold;
    --spinner-color: green;
}